<p>Olá, <%= @resource.email %>!</p>

<p>Recebemos um pedido para redefinir sua senha. Use o link abaixo:</p>

<p><%= link_to "Redefinir minha senha", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou isso, ignore este e-mail.</p>
<p>Sua senha só será alterada depois de acessar o link e definir uma nova senha.</p>
